# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.env
.venv/
venv/
# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Temporary audio uploads
temp_audio*